<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <link
        th:href="@{{cdnUrl}/stylesheets/assets-digital-cabinet-office-gov-uk-static/govuk-template.css?0.17.3(cdnUrl=${@environment.getProperty('cdn.url')})}"
        media="screen" rel="stylesheet" type="text/css" />
    <link
        th:href="@{{cdnUrl}/stylesheets/application.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
        media="all" rel="stylesheet" type="text/css" />
    <link
        th:href="@{{cdnUrl}/stylesheets/ch-accounts.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
        media="all" rel="stylesheet" type="text/css" />
    <link
        rel="icon"
        th:href="@{{cdnUrl}/images/favicon.ico?0.17.3(cdnUrl=${@environment.getProperty('cdn.url')})}"
        type="image/x-icon" />
</head>
<body>
    <div class="entire-wrapper">
        <div th:replace="fragments/header :: header"></div>
        <main id="content" role="main" class="two-column-accounts">
            <div th:replace="fragments/betaBanner :: betaBanner"></div>
            <div th:replace="fragments/userBar :: userBar"></div>
            <div layout:fragment="content"></div>
        </main>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{{cdnUrl}/javascripts/vendor/require.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/vendor/jquery-1.12.4.min.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
</body>
</html>
