<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <div id="templateName" th:attr="data-id=${templateName}" hidden></div>
    <link
        th:href="@{{cdnUrl}/stylesheets/chs-styles.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
        media="all" rel="stylesheet" type="text/css" />
    <link
        th:href="@{{cdnUrl}/stylesheets/chs-print-styles.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
        media="print" rel="stylesheet" type="text/css" />
    <link
        rel="icon"
        th:href="@{{cdnUrl}/images/favicon.ico?0.17.3(cdnUrl=${@environment.getProperty('cdn.url')})}"
        type="image/x-icon" />

    <script th:inline="javascript">
        window.SERVICE_NAME = 'transactions-web'
        window.PIWIK_URL = [[${@environment.getProperty('piwik.url')}]];
        window.PIWIK_SITE_ID = [[${@environment.getProperty('piwik.siteId')}]];
    </script>

</head>
<body>

<a href="#confirmation-main-content" class="govuk-skip-link">Skip to main content</a>

<div th:replace="fragments/piwikWithCookieCheck :: cookieBanner"></div>
    <div class="entire-wrapper">
        <div th:replace="fragments/header :: header"></div>
        <div class="govuk-width-container">
            <div th:replace="fragments/betaBanner :: betaBanner"></div>
            <div th:replace="fragments/userBar :: userBar"></div>
            <main id="content" role="main" class="govuk-main-wrapper">
                <div layout:fragment="content"></div>
            </main>
        </div>
        <div class="push"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{{cdnUrl}/javascripts/vendor/require.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/vendor/jquery-1.12.4.min.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/piwik-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>

</body>
</html>
