<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/*@thymesVar id="globalLinks" type="java.util.Map"*/-->
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <div id="templateName" th:attr="data-id=${templateName}" hidden></div>
    <link th:href="${globalLinks.cdnUrl + '/stylesheets/chs-styles.css'}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="${globalLinks.cdnUrl + '/stylesheets/chs-print-styles.css'}" media="print" rel="stylesheet" type="text/css" />
    <link rel="icon" th:href="${globalLinks.cdnUrl + '/images/favicon.ico?0.17.3'}" type="image/x-icon" />

    <script th:inline="javascript">
        window.SERVICE_NAME = 'transactions-web'
        window.PIWIK_URL = [[${piwik.url}]];
        window.PIWIK_SITE_ID = [[${piwik.siteId}]];
    </script>

</head>
<body>

<a href="#confirmation-main-content" class="govuk-skip-link">Skip to main content</a>

<div th:replace="~{fragments/piwikWithCookieCheck :: cookieBanner}"></div>
    <div class="entire-wrapper">
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="govuk-width-container">
            <div th:replace="~{fragments/betaBanner :: betaBanner}"></div>
            <div th:replace="~{fragments/userBar :: userBar}"></div>
            <main id="content" role="main" class="govuk-main-wrapper">
                <div layout:fragment="content"></div>
            </main>
        </div>
        <div class="push"></div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="${globalLinks.cdnUrl + '/javascripts/vendor/require.js'}" type="text/javascript"></script>
    <script th:src="${globalLinks.cdnUrl + '/javascripts/vendor/jquery-1.12.4.min.js'}" type="text/javascript"></script>
    <script th:src="${globalLinks.cdnUrl + '/javascripts/app/js-enable.js'}" type="text/javascript"></script>
    <script th:src="${globalLinks.cdnUrl + '/javascripts/app/piwik-enable.js'}" type="text/javascript"></script>
    <script th:src="${globalLinks.cdnUrl + '/javascripts/app/cookie-consent/cookie-consent-1.0.0.js'}" type="text/javascript"></script>
    <script th:src="${globalLinks.cdnUrl + '/javascripts/app/cookie-consent/piwik-only-cookie-consent.js'}" type="text/javascript"></script>

</body>
</html>
