<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="betaBanner" class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
                <span class="govuk-phase-banner__text">This is a trial service. Help us improve it by
                    <a id="feedback-link" th:href="${@environment.getProperty('feedback.url')}" target="_blank">
                        <span class="visuallyhidden">This is a new service. Help us improve it by </span>
                        completing our quick survey
                    </a>
                </span>
            </p>
        </div>
    </body>
</html>