<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Header</title>
    </head>
    <!--/*@thymesVar id="globalLinks" type="java.util.Map<String, String>"*/-->
    <body>
        <footer th:fragment="footer" class="group js-footer" id="footer" role="contentinfo">
            <nav>
                <div>
                    <ul>
                        <li><a id="policies-link" th:href="${globalLinks.policiesUrl}">Policies</a></li>
                        <li><a id="cookies-link" th:href="${globalLinks.cookiesUrl}">Cookies</a></li>
                        <li><a id="contact-us-link" th:href="${globalLinks.contactUsUrl}">Contact us</a></li>
                        <li><a id="developer-link" th:href="${globalLinks.developerUrl}">Developers</a></li>
                    </ul>
                </div>
            </nav>
        </footer>
    </body>
</html>
