<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Bar</title>
    </head>
    <body>
        <!--/*@thymesVar id="globalLinks" type="java.util.Map<String, String>"*/-->
        <div th:fragment="userBar" class="js-toggle-nav" id="global-nav">
            <nav class="content" role="navigation">
                <ul id="navigation" class="mobile-hidden">
                    <li class="user" id="signed-in-user" th:text="${userEmail + ': '}" />
                    <li><a th:href="${globalLinks.chsAccountUrl}" id="your-details" class="piwik-event" data-event-id="Your details - top menu">Your details</a></li>
                    <li><a href="/user/transactions" id="your-filings" class="piwik-event" data-event-id="Your filings - top menu">Your filings</a></li>
                    <li><a th:href="${globalLinks.monitorGuiUrl}" id="companies-you-follow" class="piwik-event" data-event-id="Companies you follow">Companies you follow</a></li>
                    <li><a href="/signout" id="user-signout" class="piwik-event" data-event-id="Sign out">Sign out</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>
