<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Bar</title>
    </head>
    <body>
        <div th:fragment="userBar" class="js-toggle-nav" id="global-nav">
            <a href="#navigation" id="signed-in-user-href" class="js-header-toggle" th:text="${userEmail + ':'}"></a>
            <nav class="content" role="navigation">
                <ul id="navigation" class="mobile-hidden">
                    <li class="user" id="signed-in-user" th:text="${userEmail + ': '}" />
                    <li><a th:href="@{{chsAccountUrl}/user/account(chsAccountUrl=${@environment.getProperty('account.url')})}" id="your-details" class="piwik-event" data-event-id="Your details - top menu">Your details</a></li>
                    <li><a href="/user/transactions" id="your-filings" class="piwik-event" data-event-id="Your filings - top menu">Your filings</a></li>
                    <li><a th:href="@{{chsFollowUrl}/admin/monitor(chsFollowUrl=${@environment.getProperty('monitorGui.url')})}" id="companies-you-follow" class="piwik-event" data-event-id="Companies you follow">Companies you follow</a></li>
                    <li><a href="/signout" id="user-signout" class="piwik-event" data-event-id="Sign out">Sign out</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>
