<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Confirmation</title>
</head>
<body>
<div id="confirmation-main-content" layout:fragment="content">

  <form id="confirmation-form" th:action="@{''}" th:object="${confirmation}" class="form" method="post">

    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="govuk-box-highlight" id="confirmation-details">

          <p class="font-large">
            <strong th:text="*{companyName}"/>
            <br />
            Company number <span th:text="*{companyNumber}"/>
          </p>

          <h1 class="font-large">
            <span th:text="*{confirmationDescription}"/> received
          </h1>

          <br/>

          <p class="font-large">
            on <strong class="bold-large" th:text="*{closedAtDate}"/> at <strong class="bold-large" th:text="*{closedAtTime}"/>
          </p>

          <p class="font-large">
            Reference number
            <br/>
            <strong th:text="*{transactionId}"></strong>
          </p>

        </div>
  
        <p id="confirmation-email">
          We have sent you a confirmation email at <strong th:text="*{closedBy}"/> with your reference number.
        </p>
        <p id="contact-us">
          If you've not received the confirmation, check your spam or junk mail folder. You should
          <a th:href="@{{chsUrl}/help/contact-us(chsUrl=${@environment.getProperty('chs.url')})}">contact us</a>
          if you haven't had an email within 30 minutes.
        </p>
        <p id="second-email">
          We'll send a second email to confirm that your filing has been processed (normally within 2 working days).
        </p>

      </div>

    </div>

  </form>

</div>
</body>
</html>