<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Confirmation</title>
</head>
<body>
<div id="confirmation-main-content" layout:fragment="content">

  <form id="confirmation-form" th:action="@{''}" th:object="${confirmation}" class="form">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation" id="confirmation-details">

          <div class="govuk-panel__body govuk-!-margin-bottom-6" id="confirmation-company-name-number">
            <strong>
              <span class="uppercase" th:text="*{companyName}"/>
              <br>
              Company number <span th:text="*{companyNumber}"/>
            </strong>
          </div>

          <h2 class="govuk-panel__title" id="confirmation-description">
            <span th:text="*{confirmationDescription}"/> received
          </h2>

          <div class="govuk-panel__body govuk-!-margin-bottom-6" id="confirmation-closed-date-time">
            on
            <span class="govuk-!-font-weight-bold" th:text="*{closedAtDate}"/>
            at
            <span class="govuk-!-font-weight-bold" th:text="*{closedAtTime}"/>
          </div>

          <div class="govuk-panel__body" id="confirmation-reference">
            Your reference number
            <br/>
            <strong th:text="*{transactionId}"></strong>
          </div>

        </div>

        <p class="govuk-body" id="confirmation-email">
          We have sent you a confirmation email at <strong th:text="*{closedBy}"/> with your reference number.
        </p>
        <p class="govuk-body" id="contact-us">
          If you've not received the confirmation, check your spam or junk mail folder. You should
          <a th:href="@{{chsUrl}/help/contact-us(chsUrl=${@environment.getProperty('chs.url')})}" class="piwik-event" data-event-id="Contact us">contact us</a>
          if you haven't had an email within 30 minutes.
        </p>
        <p class="govuk-body" id="second-email">
          We'll send a second email to confirm that your filing has been processed (normally within 2 working days).
        </p>

        <h1 class="govuk-heading-m" id="confirmation-next-steps-heading">
          What do you want to do next?
        </h1>

        <ul class="govuk-list" id="confirmation-next-steps">
          <li hidden="true" class="onlyJS">
            <a id="confirmation-print-link" href="#" onClick="window.print();" class="piwik-event" data-event-id="Print page">Print this page for your records</a>
          </li>
          <li>
            <a id="confirmation-your-filings" href="/user/transactions" class="piwik-event" data-event-id="Your filings - body">See your filings</a>
          </li>
          <li>
            <a id="confirmation-start-new-filing" href="/" class="piwik-event" data-event-id="Start new filing">Start a new filing</a>
          </li>
          <li>
            <a id="confirmation-company-overview" th:href="@{'/company/' + *{companyNumber}}" class="piwik-event" data-event-id="Return to company">Return to company overview</a>
          </li>
        </ul>

        <p class="govuk-body">
          <span id="confirmation-feedback">This is a new service. Help us improve it by
            <a id="confirmation-feedback-link" href="https://www.research.net/r/chfiling" target="_blank">completing our quick survey</a>.
          </span>
        </p>

      </div>

    </div>

  </form>

</div>
</body>
</html>